In [1]:
import pandas as pd

In [3]:
comps = pd.read_json('data/competitions.json')
comps

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,16,4,Europe,Champions League,male,False,False,2018/2019,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-09T14:06:05.802
1,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
2,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
3,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
5,16,25,Europe,Champions League,male,False,False,2013/2014,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
6,16,24,Europe,Champions League,male,False,False,2012/2013,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-10T13:41:45.751
7,16,23,Europe,Champions League,male,False,False,2011/2012,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
8,16,22,Europe,Champions League,male,False,False,2010/2011,2022-01-26T21:07:11.033473,2021-06-13T16:17:31.694,None,2022-01-26T21:07:11.033473
9,16,21,Europe,Champions League,male,False,False,2009/2010,2022-02-12T16:13:49.294747,2021-06-13T16:17:31.694,None,2022-02-12T16:13:49.294747
10,16,41,Europe,Champions League,male,False,False,2008/2009,2021-11-07T14:20:01.699993,2021-06-13T16:17:31.694,None,2021-11-07T14:20:01.699993
11,16,39,Europe,Champions League,male,False,False,2006/2007,2021-03-31T04:18:30.437060,2021-06-13T16:17:31.694,None,2021-03-31T04:18:30.437060
12,16,37,Europe,Champions League,male,False,False,2004/2005,2021-04-01T06:18:57.459032,2021-06-13T16:17:31.694,None,2021-04-01T06:18:57.459032
13,16,44,Europe,Champions League,male,False,False,2003/2004,2021-04-01T00:34:59.472485,2021-06-13T16:17:31.694,None,2021-04-01T00:34:59.472485
14,16,76,Europe,Champions League,male,False,False,1999/2000,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
15,37,90,England,FA Women's Super League,female,False,False,2020/2021,2021-07-01T18:14:40.756,2021-06-13T16:17:31.694,None,2021-07-01T18:14:40.756
16,37,42,England,FA Women's Super League,female,False,False,2019/2020,2021-06-01T13:01:18.188,2021-06-13T16:17:31.694,None,2021-06-01T13:01:18.188
17,37,4,England,FA Women's Super League,female,False,False,2018/2019,2021-12-02T12:09:35.585046,2021-06-13T16:17:31.694,None,2021-12-02T12:09:35.585046
18,43,3,International,FIFA World Cup,male,False,True,2018,2021-12-06T23:11:59.985953,2021-06-13T16:17:31.694,None,2021-12-06T23:11:59.985953
19,11,90,Spain,La Liga,male,False,False,2020/2021,2022-02-11T14:56:09.076,2021-10-30T04:19:36.116600,2021-09-17T15:18:33.787790,2022-02-11T14:56:09.076
20,11,42,Spain,La Liga,male,False,False,2019/2020,2021-06-15T15:35:02.673,2021-06-13T16:17:31.694,None,2021-06-15T15:35:02.673
21,11,4,Spain,La Liga,male,False,False,2018/2019,2021-11-02T17:53:14.529952,2021-07-09T14:53:22.103024,None,2021-11-02T17:53:14.529952
22,11,1,Spain,La Liga,male,False,False,2017/2018,2022-02-14T13:20:18.723604,2021-06-13T16:17:31.694,None,2022-02-14T13:20:18.723604
23,11,2,Spain,La Liga,male,False,False,2016/2017,2022-01-25T22:51:59.353598,2021-06-13T16:17:31.694,None,2022-01-25T22:51:59.353598
24,11,27,Spain,La Liga,male,False,False,2015/2016,2022-02-14T15:03:39.940644,2021-06-13T16:17:31.694,None,2022-02-14T15:03:39.940644
25,11,26,Spain,La Liga,male,False,False,2014/2015,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
26,11,25,Spain,La Liga,male,False,False,2013/2014,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
27,11,24,Spain,La Liga,male,False,False,2012/2013,2021-10-27T15:44:43.940862,2021-06-13T16:17:31.694,None,2021-10-27T15:44:43.940862
28,11,23,Spain,La Liga,male,False,False,2011/2012,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
29,11,22,Spain,La Liga,male,False,False,2010/2011,2021-11-11T22:57:42.361902,2021-06-13T16:17:31.694,None,2021-11-11T22:57:42.361902
30,11,21,Spain,La Liga,male,False,False,2009/2010,2021-10-26T13:56:40.989214,2021-06-13T16:17:31.694,None,2021-10-26T13:56:40.989214
31,11,41,Spain,La Liga,male,False,False,2008/2009,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
32,11,40,Spain,La Liga,male,False,False,2007/2008,2021-10-26T13:13:56.180589,2021-06-13T16:17:31.694,None,2021-10-26T13:13:56.180589
33,11,39,Spain,La Liga,male,False,False,2006/2007,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
34,11,38,Spain,La Liga,male,False,False,2005/2006,2021-11-28T23:00:27.747396,2021-06-13T16:17:31.694,None,2021-11-28T23:00:27.747396
35,11,37,Spain,La Liga,male,False,False,2004/2005,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
36,49,3,United States of America,NWSL,female,False,False,2018,2021-11-06T05:53:29.435016,2021-06-13T16:17:31.694,None,2021-11-06T05:53:29.435016
37,2,44,England,Premier League,male,False,False,2003/2004,2021-11-14T22:29:00.646120,2021-06-13T16:17:31.694,None,2021-11-14T22:29:00.646120
38,55,43,Europe,UEFA Euro,male,False,True,2020,2022-02-01T17:20:34.319496,2021-11-11T13:54:37.507376,2021-11-11T13:54:37.507376,2022-02-01T17:20:34.319496
39,72,30,International,Women's World Cup,female,False,True,2019,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00

In [4]:
fifawc = pd.read_json('data/matches/43/3.json')
fifawc.head()

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,7578,2018-06-15,14:00:00.000,"{'competition_id': 43, 'country_name': 'Intern...","{'season_id': 3, 'season_name': '2018'}","{'home_team_id': 774, 'home_team_name': 'Egypt...","{'away_team_id': 783, 'away_team_name': 'Urugu...",0,1,available,scheduled,2021-12-06T22:24:47.980215,2021-06-13T16:17:31.694,{'data_version': '1.0.2'},1,"{'id': 10, 'name': 'Group Stage'}","{'id': 4261, 'name': 'Ekaterinburg Arena', 'co...","{'id': 287, 'name': 'Björn Kuipers', 'country'..."
1,7553,2018-06-23,17:00:00.000,"{'competition_id': 43, 'country_name': 'Intern...","{'season_id': 3, 'season_name': '2018'}","{'home_team_id': 791, 'home_team_name': 'South...","{'away_team_id': 794, 'away_team_name': 'Mexic...",1,2,available,scheduled,2021-12-06T23:00:56.479071,2021-06-13T16:17:31.694,{'data_version': '1.0.2'},2,"{'id': 10, 'name': 'Group Stage'}","{'id': 256, 'name': 'Rostov Arena', 'country':...","{'id': 727, 'name': 'Milorad Mažić', 'country'..."
2,7544,2018-06-20,17:00:00.000,"{'competition_id': 43, 'country_name': 'Intern...","{'season_id': 3, 'season_name': '2018'}","{'home_team_id': 783, 'home_team_name': 'Urugu...","{'away_team_id': 799, 'away_team_name': 'Saudi...",1,0,available,scheduled,2021-12-06T22:50:22.229925,2021-06-13T16:17:31.694,{'data_version': '1.0.2'},2,"{'id': 10, 'name': 'Group Stage'}","{'id': 256, 'name': 'Rostov Arena', 'country':...","{'id': 76, 'name': 'Clément Turpin', 'country'..."
3,7536,2018-06-18,17:00:00.000,"{'competition_id': 43, 'country_name': 'Intern...","{'season_id': 3, 'season_name': '2018'}","{'home_team_id': 782, 'home_team_name': 'Belgi...","{'away_team_id': 798, 'away_team_name': 'Panam...",3,0,available,scheduled,2021-12-06T22:40:10.487423,2021-06-13T16:17:31.694,{'data_version': '1.0.2'},1,"{'id': 10, 'name': 'Group Stage'}","{'id': 249, 'name': 'Olimpiyskiy Stadion Fisht...","{'id': 743, 'name': 'Janny Sikazwe', 'country'..."
4,7555,2018-06-24,20:00:00.000,"{'competition_id': 43, 'country_name': 'Intern...","{'season_id': 3, 'season_name': '2018'}","{'home_team_id': 789, 'home_team_name': 'Polan...","{'away_team_id': 769, 'away_team_name': 'Colom...",0,3,available,scheduled,2021-12-06T23:06:14.060164,2021-06-13T16:17:31.694,{'data_version': '1.0.2'},2,"{'id': 10, 'name': 'Group Stage'}","{'id': 4258, 'name': 'Kazan'' Arena', 'country...","{'id': 740, 'name': 'César Arturo Ramos Palazu..."

In [13]:
fifawc_mod = pd.concat([fifawc[['match_id', 'match_date', 'kick_off', 'home_score', 'away_score']], 
                       fifawc['home_team'].apply(pd.Series)[['home_team_id', 'home_team_name']], 
                       fifawc['away_team'].apply(pd.Series)[['away_team_id', 'away_team_name']],
                       fifawc['competition_stage'].apply(pd.Series).rename({'id': 'comp_id', 'name': 'comp_name'}, axis = 1),
                       fifawc['stadium'].apply(pd.Series)['country'].apply(pd.Series)['name'].rename({'name': 'country'}, axis = 1)],
          axis = 1)
fifawc_mod

,match_id,match_date,kick_off,home_score,away_score,home_team_id,home_team_name,away_team_id,away_team_name,comp_id,comp_name,name
0,7578,2018-06-15,14:00:00.000,0,1,774,Egypt,783,Uruguay,10,Group Stage,Russia
1,7553,2018-06-23,17:00:00.000,1,2,791,South Korea,794,Mexico,10,Group Stage,Russia
2,7544,2018-06-20,17:00:00.000,1,0,783,Uruguay,799,Saudi Arabia,10,Group Stage,Russia
3,7536,2018-06-18,17:00:00.000,3,0,782,Belgium,798,Panama,10,Group Stage,Russia
4,7555,2018-06-24,20:00:00.000,0,3,789,Poland,769,Colombia,10,Group Stage,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...
59,7540,2018-06-19,20:00:00.000,3,1,796,Russia,774,Egypt,10,Group Stage,Russia
60,8652,2018-07-07,20:00:00.000,2,2,796,Russia,785,Croatia,11,Quarter-finals,Russia
61,7563,2018-06-26,16:00:00.000,0,0,776,Denmark,771,France,10,Group Stage,Russia
62,7556,2018-06-24,17:00:00.000,2,2,778,Japan,787,Senegal,10,Group Stage,Russia
63,7559,2018-06-25,16:00:00.000,2,1,799,Saudi Arabia,774,Egypt,10,Group Stage,Russia

In [14]:
fifawc_mod[(fifawc_mod['comp_name'] != "Group Stage") & (fifawc_mod['home_score'] == fifawc_mod['away_score'])]

,match_id,match_date,kick_off,home_score,away_score,home_team_id,home_team_name,away_team_id,away_team_name,comp_id,comp_name,name
15,7581,2018-07-01,20:00:00.000,1,1,785,Croatia,776,Denmark,33,Round of 16,Russia
35,7582,2018-07-01,16:00:00.000,1,1,772,Spain,796,Russia,33,Round of 16,Russia
51,7585,2018-07-03,20:00:00.000,1,1,769,Colombia,768,England,33,Round of 16,Russia
60,8652,2018-07-07,20:00:00.000,2,2,796,Russia,785,Croatia,11,Quarter-finals,Russia

In [16]:
match = pd.read_json('data/events/7582.json')
match.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'type',
       'possession', 'possession_team', 'play_pattern', 'team', 'duration',
       'tactics', 'related_events', 'player', 'position', 'location', 'pass',
       'under_pressure', 'carry', 'ball_receipt', 'duel', 'counterpress',
       'foul_won', 'interception', 'dribble', 'shot', 'goalkeeper',
       'foul_committed', 'ball_recovery', 'substitution', 'block',
       'miscontrol'],
      dtype='object')

In [29]:
ps = pd.concat([match[match['period'] == 5]['type'].apply(pd.Series),
                match[match['period'] == 5]['possession_team'].apply(pd.Series)[['name']].rename({'name': 'pos_team'}, axis = 1),
                match[match['period'] == 5]['shot'].apply(pd.Series),
                match[match['period'] == 5]['goalkeeper'].apply(pd.Series)],
               axis = 1)
ps.drop(0, axis = 1, inplace = True)
ps = ps[ps['name'] == 'Shot']

In [30]:
ps

,id,name,pos_team,body_part,end_location,outcome,statsbomb_xg,technique,type,body_part,outcome,position,technique,type
5006,16,Shot,Spain,"{'id': 40, 'name': 'Right Foot'}","[120.0, 42.0, 1.6]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5008,16,Shot,Russia,"{'id': 40, 'name': 'Right Foot'}","[120.0, 37.4, 1.2]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5010,16,Shot,Spain,"{'id': 40, 'name': 'Right Foot'}","[120.0, 36.2, 1.1]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5012,16,Shot,Russia,"{'id': 40, 'name': 'Right Foot'}","[120.0, 43.4, 1.6]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5014,16,Shot,Spain,"{'id': 40, 'name': 'Right Foot'}","[120.0, 37.8, 0.6000000000000001]","{'id': 100, 'name': 'Saved'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5016,16,Shot,Russia,"{'id': 40, 'name': 'Right Foot'}","[120.0, 38.5, 0.2]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5018,16,Shot,Spain,"{'id': 40, 'name': 'Right Foot'}","[120.0, 37.8, 1.6]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5020,16,Shot,Russia,"{'id': 38, 'name': 'Left Foot'}","[120.0, 40.5, 1.3]","{'id': 97, 'name': 'Goal'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN
5022,16,Shot,Spain,"{'id': 38, 'name': 'Left Foot'}","[119.0, 39.1, 0.9]","{'id': 100, 'name': 'Saved'}",0.76,"{'id': 93, 'name': 'Normal'}","{'id': 88, 'name': 'Penalty'}",NaN,NaN,NaN,NaN,NaN

In [9]:
pd.json_normalize(match[match['period'] == 5]['type'])

    id         name
0   18   Half Start
1   18   Half Start
2   16         Shot
3   23  Goal Keeper
4   16         Shot
5   23  Goal Keeper
6   16         Shot
7   23  Goal Keeper
8   16         Shot
9   23  Goal Keeper
10  16         Shot
11  23  Goal Keeper
12  16         Shot
13  23  Goal Keeper
14  16         Shot
15  23  Goal Keeper
16  16         Shot
17  23  Goal Keeper
18  16         Shot
19  23  Goal Keeper
20  34     Half End
21  34     Half End

In [17]:
match.loc[5022,:]['shot']

{'statsbomb_xg': 0.76,
 'end_location': [119.0, 39.1, 0.9],
 'outcome': {'id': 100, 'name': 'Saved'},
 'body_part': {'id': 38, 'name': 'Left Foot'},
 'type': {'id': 88, 'name': 'Penalty'},
 'technique': {'id': 93, 'name': 'Normal'}}

In [28]:
match[match['period'] == 5]['possession_team'].apply(pd.Series)['name'].rename(column = {'name': 'pos_team'})

TypeError: rename() got an unexpected keyword argument 'column'